<div class="info__container">
    <div class="info__data">
        <i class="data__icon fa-solid fa-location-dot"></i>
        <h2 class="data__subtitle">Buenos Aires</h2>
    </div>

    <div class="info__data">
        <i class="data__icon fa-solid fa-phone"></i>
        <h2 class="data__subtitle">666 777 888</h2>
    </div>

    <div class="info__data">
        <i class="data__icon fa-solid fa-envelope"></i>
        <h2 class="data__subtitle">iantello&#64;hotmail.com</h2>
    </div>

    <div class="info__data">
        <i class="data__icon fa-solid fa-circle-check"></i>
        <h2 class="data__subtitle">Desarrollador Freelance</h2>
    </div>
</div>