<div class="content__resume">

    <header class="resume__header">
        <h2 class="resume__title"> Curriculum </h2>
    </header>

    <div class="resume__container">
        <section class="resume__left">
            <resume-left></resume-left>
        </section>

        <section class="resume__right">
            <resume-right></resume-right>

            <resume-knowledge></resume-knowledge>
        </section>
    </div>

    <div class="resume__certificates">
        <resume-certificates></resume-certificates>
    </div>
</div> 