<section class="about__extra">
    <header class="extra__header">
        <h2 class="extra__title">Información <span class="title__color">Extra</span></h2>
    </header>

    <div class="extra__container">
        <article class="extra__info">
            <i class="fa-solid fa-heart extra__icon"></i>
            <h4 class="extra__subtitle">Alumnos Contentos</h4>
            <span class="extra__quantity">375.000</span>
        </article>

        <article class="extra__info">
            <i class="fa-solid fa-clock extra__icon"></i>
            <h4 class="extra__subtitle">Horas de contenido</h4>
            <span class="extra__quantity">+800</span>
        </article>

        <article class="extra__info">
            <i class="fa-solid fa-star extra__icon"></i>
            <h4 class="extra__subtitle">Puntuación</h4>
            <span class="extra__quantity">9.8</span>
        </article>
    </div>
</section>