<section class="about__personal-info">
    <header class="personal-info__bio">
        <p class="bio__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore architecto deleniti alias libero unde soluta magni nostrum laborum totam, corporis quaerat accusantium sint aliquam nam molestiae fugit? Nihil, illum ut!
        Numquam possimus doloribus debitis tenetur, suscipit, reprehenderit in, deserunt praesentium enim at fugit fuga sequi inventore? Sequi ut tenetur illum consectetur illo odio provident ex numquam, eligendi magnam totam tempora.</p>
    </header>

    <div class="personal-info__data">
        <ul class="data__list">
            <li class="data__option">
                <span class="data__title">Edad</span>
                <span class="data__value">23</span>
            </li>
            <li class="data__option">
                <span class="data__title">País</span>
                <span class="data__value">Argentina</span>
            </li>
            <li class="data__option">
                <span class="data__title">Dirección</span>
                <span class="data__value">Primero de Mayo 750</span>
            </li>
            <li class="data__option">
                <span class="data__title">Correo</span>
                <span class="data__value">iantello&#64;hotmail.com</span>
            </li>
            <li class="data__option">
                <span class="data__title">Teléfono</span>
                <span class="data__value">+54 9 11 3860-5171</span>
            </li>
        </ul>
    </div>
</section>